# Kommentar für {{ comment.issueTracker }} konnte nicht am Ticket {{ comment.issueKey }} erstellt werden

Der folgende Kommentar konnte nicht erstellt werden:

```code
{{{ comment.comment }}}
```

Der Kommentar kann erneut in der [Issue Tracker Admin Oberfläche]({{ url }}) gesendet werden.
