# Failed to create comment on {{ comment.issueTracker }} for issue {{ comment.issueKey }}

Failed to create the following comment on issue tracker {{ comment.issueTracker }}:

```code
{{{ comment.comment }}}
```

The comment can be sent again in the [issue tracker admin section]({{ url }}).
