# Erneutes Senden der Kommentare für Issue Tracker {{ issueTracker }}

* **{{ removeCount }}** erfolgreich gesendet
* **{{ requeueCount }}** konnten nicht gesendet werden und werden wieder eingereiht

Wieder eingereihte Kommentare können über die
[Issue Tracker Admin Oberfläche]({{ url }}) erneut gesendet oder gelöscht werden.
