# Resubmit for issue tracker {{ issueTracker }}

* **{{ removeCount }}** successfully resubmitted
* **{{ requeueCount }}** could not be added and are requeued

Requeued comments can be resend or removed in the [issue tracker admin section]({{ url }}).
